<!-- <h3>Quit the career fair &amp; posting hustle. <br/>Here are rockstar interns at your finger tips.</h3><br/>
<%#= link_to "I'm In", new_info_path, class: "btn btn-success btn-lg" %> -->

<div class="row">
  <div class="col-md-4">
  	<div class="well">
  		<%= image_tag "pic1.png" %>
  		<h4>Web Designer</h4>
  		<ul>
  			<li>HTML, CSS, JQuery
        <li>Photoshop, Illustrator</li>
  			<li>GT Grad</li>
  			<li>People Person</li>
  		</ul>
      <p class="label label-success">Available Now</p> 
  	</div>
  </div>
   <div class="col-md-4">
  	<div class="well">
  		<%= image_tag "pic2.png" %>
  		<h4>Content Specialist</h4>
  		<ul>
  			<li>Social Media Guru</li>
        <li>Google Analytics &amp; SEO</li>
        <li>Blogging and Headlines</li>
        <li>Loves Chinese Food </li>
  		</ul> 
      <p class="label label-success">Available March 15</p> 
  	</div>
  </div>
   <div class="col-md-4">
  	<div class="well">
      <%= image_tag "pic5.png" %>
      <h4>Web Developer</h4>
      <ul>
        <li>JQuery, Angular, Node</li>
        <li>HTML/Haml</li>
        <li>CSS/SASS</li>
        <li>Big Game of Thrones Fan</li>
      </ul> 
      <p class="label label-success">Available Now</p>
  	</div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
  	<div class="well">
      <%= image_tag "pic6.png" %>
      <h4>Back End Developer</h4>
      <ul>
        <li>Ruby on Rails</li>
        <li>Postgres &amp; MySQL</li>
        <li>GA State Grad</li>
        <li>Peace Corps Alumni</li>
      </ul>
      <p class="label label-success">Available March</p> 
  	</div>
  </div>
   <div class="col-md-4">
  	<div class="well">
  		<%= image_tag "pic3.png" %>
      <h4>Graphic &amp; Web Designer</h4>
      <ul>
        <li>Typeography Expert</li>
        <li>HTML, CSS, Bootstrap</li>
        <li>Award-winning Portfolio</li>
        <li>Crossfit Addict</li>
      </ul> 
      <p class="label label-success">Available Now</p>
  	</div>
  </div>
   <div class="col-md-4">
  	<div class="well">
  	  <%= image_tag "pic4.png" %>
      <h4>Back End Developer</h4>
      <ul>
        <li>Postgres, MySQL</li>
        <li>Ruby on Rails, Java, C++</li>
        <li>Loves Startups</li>
        <li>Momma's Boy</li>
      </ul> 
      <p class="label label-success">Available April 1</p>
  	</div>
  </div>
</div>

<%= link_to "Find Out More!", new_survey_path, class: "btn btn-lg btn-primary" %>
