<%= form_for(@info) do |f| %>
  <% if @info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@info.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
      <% @info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="form-group">
    <%= f.label :email, class: "sr-only" %>
    <%= f.text_field :email, placeholder: "Email Address", class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Do it", class: "btn btn-info btn-lg" %>
  </div>
</div>
</div>
<% end %>
